body{
  box-sizing: border-box;
}

.container{
  border: #3882f6 5px solid;
  width: 400px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.display{
  height: 40px;
  padding: 10px 10px 15px 10px;
  font-size: 40px;
  background: #bdbdbd;
}

.buttons{
  text-align: center;
}
button {
  padding: 8px 32px;
  border-radius: 16px;
  background: #3882f6;
  border: 1px solid #3882f6;
  color: white;
  font-weight: 600;
  margin: 20px 10px;
  height: 40px;
  font-size: 19px;
  width: 77px;

}

#all-clear,
#clear
{
  background: #bdbdbd;
}



#all-clear,
#n0
{
  width: 170px;
}


.operator {
  background: #ffa500;
}

