body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.container {
  border: #3882f6 5px solid;
  width: 370px;
  height: 500px;
  justify-content: center;
  background-color: rgb(161, 161, 161);
}
.display {
  height: 60px;
  padding: 0 10px 20px 10px;
  font-size: 70px;
  background: #bdbdbd;
  margin-bottom: 5px;
  vertical-align: middle;
  border: rgb(93, 92, 92) 5px solid;
  text-align: right;
  overflow: hidden;
  max-width: 340px;
}

.buttons {
  text-align: center;
}
button {
  padding: 8px 32px;
  border-radius: 16px;
  background: #3882f6;
  border: 1px solid #3882f6;
  color: white;
  font-weight: 600;
  margin: 10px 5px;
  height: 60px;
  font-size: 25px;
  width: 79px;
}

#all-clear,
#clear {
  background: #bdbdbd;
}

#all-clear,
#n0 {
  width: 170px;
}

.operator {
  background: #ffa500;
}
